@{
    ViewBag.Title = "Home Page";
}
<br> </br>
<img src="~/Content/Images/forever-21.jpg" width="100%" heigth="20" />

    <div>
        <h2>
            Welcome to Forever 21, your shopping destination for fashion online. Shop the latest trends and discover our high quality clothing at the best price.
        </h2>
    </div>
